// THEMES
$themes: (
  bg-layout: (
    dark: $bg-layout-dark,
    light: $bg-layout-light,
  ),
  bg-component: (
    dark: $bg-component-dark,
    light: $bg-component-light,
  ),
  bg-component-2: (
    dark: $bg-component-dark-2,
    light: $bg-component-light-2,
  ),
  bg-body: (
    dark: $bg-body-dark,
    light: $bg-body-light,
  ),
  bg-input: (
    dark: $bg-input-dark,
    light: $bg-input-light,
  ),
  bg-input-2: (
    dark: $bg-input-dark-2,
    light: $bg-input-light-2,
  ),
  bg-loading-primary: (
    dark: $bg-loading-primary-dark,
    light: $bg-loading-primary-light,
  ),
  bg-loading-secondary: (
    dark: $bg-loading-secondary-dark,
    light: $bg-loading-secondary-light,
  ),
  bg-loading-transition: (
    dark: $bg-loading-transition-dark,
    light: $bg-loading-transition-light,
  ),
  border-color: (
    dark: $border-color-dark,
    light: $border-color-light,
  ),
  color-text: (
    dark: $color-text-dark,
    light: $color-text-light,
  ),
  color-brand: (
    dark: $color-brand,
    light: $color-brand,
  ),
  color-text-btn: (
    dark: $color-brand,
    light: $color-text-light,
  ),
  box-shadow: (
    dark: "",
    light: $box-shadow,
  ),
);

.dark {
  @include styles("dark");
}

.light {
  @include styles("light");
}
