* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none !important;
  box-shadow: $focus-box-shadow;
  border-radius: 6px !important;
}

input:focus-visible,
select:focus-visible {
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary !important;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 6px;
}

body.noscroll {
  overflow-y: hidden;
}

label,
a,
button {
  cursor: pointer;
  transition: ease 0.3s;
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
}

.main-content__wrapper {
  padding-top: toRem(100);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
}

// PERSONAL APP CLASSES
.App {
  .title {
    color: var(--color-text);
    font-size: toRem(24);
    font-weight: 600;
    margin-bottom: toRem(10);
  }
  .title.margin {
    color: var(--color-text);
    font-size: toRem(24);
    font-weight: 600;
    margin-bottom: toRem(30);
  }
  .subtitle {
    margin: 40px 0 20px 0;
    color: var(--color-text);
    font-weight: 600;
    font-size: toRem(20);
  }
  .date {
    margin-bottom: 30px;
    font-size: toRem(15);
    font-weight: 300;
    color: var(--color-text);
    opacity: 0.8;
    letter-spacing: 2px;
  }
}

// MAX WIDTH
.nav,
.banner,
.main-content__wrapper {
  max-width: 1450px;
}
