// TEMPLATES
%button {
  display: flex;
  max-height: toRem(50);
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 500;
  font-family: $font-primary;
  border: none;
  outline: none;
  font-size: toRem(16);
  border-radius: toRem(6);
  color: $color-dark;
  background-color: $color-secondary;
}

%button:hover {
  background-color: #93bb1c;
  // box-shadow: $hover-box-shadow;
}

%icon {
  display: inline-block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

%loading-skeleton-background {
  background: linear-gradient(
      0.25turn,
      transparent,
      var(--bg-loading-transition),
      transparent
    ),
    linear-gradient(var(--bg-loading-secondary), var(--bg-loading-secondary)),
    radial-gradient(
      38px circle at 19px 19px,
      var(--bg-loading-secondary) 50%,
      transparent 51%
    ),
    linear-gradient(var(--bg-loading-secondary), var(--bg-loading-secondary));
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}
%loading-skeleton {
  background: linear-gradient(
      0.25turn,
      transparent,
      var(--bg-loading-transition),
      transparent
    ),
    linear-gradient(var(--bg-loading-primary), var(--bg-loading-primary)),
    radial-gradient(
      38px circle at 19px 19px,
      var(--bg-loading-primary) 50%,
      transparent 51%
    ),
    linear-gradient(var(--bg-loading-primary), var(--bg-loading-primary));
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}
