$color-primary: #4e4e4e;
$color-secondary: #a7d41f;
$color-secondary-hover: #4e4e4e;
$color-dark: #000;
$color-light: #fff;
$color-background: #f5f5f5;
$color-background-linear: linear-gradient(#f5f5f5, #dedede);
$color-alternative: #a7a7a7;
$color-alternative-2: #767676;
$color-skeleton-primary: #ddd;
$color-skeleton-secondary: #eee;
$linear-gradient-1: linear-gradient(to left, #0f0f0f, #333333);
$linear-gradient-2: linear-gradient(to left, #4e4e4e, #333333);
$linear-gradient-header: linear-gradient(to left, #86aa19, #93bb1c);
$max-width: 1280px;
$focus-box-shadow: 0 0 0 4px rgba(132, 217, 217, 0.5);
$hover-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// FONTS
$font-primary: "DM Sans", sans-serif;
$font-secondary: "Roboto", sans-serif;

// COLORS
$color-white: #fff;
$color-error: #de2316;

// BG LINEAR GRADIENTS
$bg-gradient-green: linear-gradient(to right, #93bb1c, #7a9b1a);

// BG COLORS
$bg-layout-dark: #000;
$bg-layout-light: #fff;
$bg-body-dark: #0f0f0f;
$bg-body-light: #fff;
$bg-component-dark: #262626;
$bg-component-light: #f5f5f5;
$bg-input-dark: #333333;
$bg-input-light: #f5f5f5;
$bg-input-dark-2: #4e4e4e;
$bg-input-light-2: #ecebeb;

// BORDER COLORS
$border-color-dark: #262626;
$border-color-light: #f5f5f5;

// BORDER RADIUS
$border-radius: 10px;

// WIDTH & HEIGHT
$max-width-card: 550px;
$max-width-card-md: 310px;
$max-width-input: 550px;
$height-input: 60px;

// MARGINS
$widget-margin-bottom: 25px;
$widget-margin-right: 15px;

// TEXT COLORS
$color-text-dark: #fff;
$color-text-light: #0f0f0f;
$color-text-alternative: #333333;
$color-text-alternative-light: #a7a7a7;
$color-brand: #a7d41f;
// $color-brand: #93BB1C;

// BOX SHADOW
$box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);

// TRANSITIONS
$theme-transition: 0.3s ease-in-out;

// BREAKPOINTS
$max-width: 1280px;
$breakpoints: (
  xl: 1300px,
  lg: 992px,
  md: 768px,
  sm: 575px,
  xs: 450px,
);
