.ChangePassword {
  &__form {
    margin-top: 30px;
  }

  &__input {
    width: 100%;
    max-width: $max-width-input;
    margin-bottom: $widget-margin-bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    @include mq(md) {
      max-width: $max-width-card-md;
    }
  }

  &__input.invalid &__input-container {
    text-align: center;
    background: #de231620;
    border-radius: toRem(6);
    color: $color-error;
  }

  &__input-container {
    background-color: var(--bg-input);
    border-radius: $border-radius;
    padding: 0 20px;
    display: flex;
    height: $height-input;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input {
      width: 100%;
      margin-right: 20px;
      background: transparent;
      outline: none;
      border: none;
      color: var(--color-text);
    }
    input::placeholder {
      color: var(--color-text);
      opacity: 0.7;
    }
  }

  &__input-error {
    width: 100%;
    min-height: $height-input;
    background: #de231620;
    padding: 10px 20px;
    margin-top: toRem(20);
    margin-bottom: 20px;
    border-radius: toRem(6);
    color: $color-error;
    display: flex;
    align-items: center;
  }
}
