body {
  background: var(--bg-body);
}

.Login {
  width: 100vw;
  display: grid;

  @include mq(lg) {
    grid-template-columns: repeat(2, 50%);
  }

  &__error {
    text-align: center;
    background: #de231620;
    padding: toRem(10);
    margin-top: toRem(20);
    border-radius: toRem(6);
    color: $color-error;
    max-width: $max-width-card;

    @include mq(md) {
      max-width: $max-width-card-md;
    }
  }

  &__background-img {
    background: url("~/src/assets/img/bullet-crossfit-gym.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: none;

    @include mq(lg) {
      display: block;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    padding: toRem(20);
    padding-top: toRem(50);
    position: relative;
    background: var(--bg-body);

    @include mq(lg) {
      justify-content: center;
      padding: 0;
      padding-top: toRem(10);
    }
  }

  &__header {
    &-logo {
      width: 100%;
      max-width: 150px;
      margin-bottom: toRem(40);
    }
  }

  &__form {
    width: 100%;
    max-width: 400px;
    padding: 20px 10px;
    background: var(--bg-component);
    border-radius: 20px;
    margin: 20px 0;
    // box-shadow: var(--box-shadow);

    @include mq(lg) {
      padding: 20px;
    }
  }

  &__welcome {
    font-weight: bold;
    font-size: toRem(26);
    color: var(--color-text);
    margin-bottom: toRem(30);
    text-align: center;
  }

  &__input-container {
    margin-bottom: toRem(20);
  }

  .password-toggle {
    height: toRem(20);
    width: toRem(20);
    cursor: pointer;
    background: url("~/src/assets/icon/invisible.svg");
    @extend %icon;
    position: absolute;
    bottom: 14px;
    right: 15px;
  }

  .password-toggle.visible {
    background: url("~/src/assets/icon/visible.svg");
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: toRem(10);
    gap: toRem(15);
  }

  &__helper-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: toRem(20);
  }

  &__passrecover-btn,
  &__register-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-size: toRem(13);
    opacity: 0.8;
    color: $color-brand;
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline !important;
  }

  &__passrecover-btn:hover,
  &__register-btn:hover {
    color: $color-alternative;
  }

  &__login-btn {
    @extend %button;
  }

  &__privacy {
    color: $color-alternative-2;
  }

  &__privacy:hover {
    text-decoration: underline;
  }
}
