.MovementsLibrary {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .SearchBar,
  .InputLoadingSkeleton.search-bar {
    margin-bottom: 0px;
  }
}
