.PersonalRecordHistory {
  .meta-tag {
    margin-bottom: 10px;
  }

  &__title {
    font-size: toRem(24);
    font-weight: 600;
    color: var(--color-text);
  }

  &__meta-info {
    margin-bottom: toRem(30);

    &--tag {
      color: var(--color-text);
      opacity: 0.7;
      font-size: toRem(14);
    }

    &--item {
      margin-right: 5px;
      font-weight: 500;
      background: transparent;
      color: $color-brand;
      outline: none;
    }
  }

  &__percentage-table {
    display: flex;
    overflow-x: scroll;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: var(--bg-linear-gradient);
      width: 100px;
      height: 100px;
      border-radius: $border-radius;
      color: white;
      padding: 10px 0;
      margin-right: 15px;

      &__value {
        width: 100px;
        text-align: center;
        font-size: toRem(18);

        span {
          font-size: toRem(12);
          opacity: 0.7;
        }
      }

      &__percent {
        color: $color-brand;
        font-size: toRem(14);
      }
    }
  }

  &__pr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-input;
    background-color: var(--bg-input);
    border-radius: $border-radius;
    padding: 0 toRem(20);
    margin-bottom: toRem(10);
    color: var(--color-text);

    &__value {
      font-size: toRem(22);
      font-weight: 600;
      color: $color-brand;
    }
    &__date {
      opacity: 0.8;
    }
  }
}
