.RecordHistory {
  &__records {
    background: var(--bg-component);
    border-radius: $border-radius;
    padding: toRem(20);
  }

  &__title {
    margin-bottom: 5px;
  }

  &__title,
  &__latest-score {
    font-size: toRem(22);
    font-weight: bold;
    color: $color-brand;
    line-height: 1;
  }

  &__latest-score {
    margin-bottom: toRem(20);
    font-size: toRem(26);
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    &-entry {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: toRem(15);

      &__value {
        color: $color-brand;
        font-weight: bold;
        font-size: toRem(18);
      }

      &__value + div {
        opacity: 0.7;
      }
    }
  }
}
