.InputLoadingSkeleton {
  min-height: $height-input;
  width: 100%;
  max-width: $max-width-input;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: $border-radius;
  padding: 0 20px;

  &.search-bar {
    min-height: 40px;
    margin-bottom: 20px;
  }

  &__content {
    display: grid;
    grid-template-columns: 10% 65% 25%;
    gap: 10px;
    padding-right: 20px;
  }

  &__input {
    height: 20px;
    width: 90%;
    border-radius: 6px;
    @extend %loading-skeleton;
  }

  &__icon {
    width: 14px;
    height: 14px;
  }

  @extend %loading-skeleton-background;
}
