.WidgetLoadingSkeleton {
  min-height: 130px;
  width: 100%;
  max-width: $max-width-card;
  margin-bottom: $widget-margin-bottom;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: $border-radius;
  padding: 20px;

  @include mq(md) {
    max-width: $max-width-card-md;
  }

  & * {
    border-radius: 6px;
  }

  &__title {
    height: 20px;
    width: 50%;
    margin-bottom: 10px;
    @extend %loading-skeleton;
  }

  &__description {
    height: 20px;
    width: 30%;
    margin-bottom: 20px;
    @extend %loading-skeleton;
  }

  &__input {
    height: $height-input;
    width: 100%;
    margin-bottom: 10px;
    @extend %loading-skeleton;
  }

  &__date {
    min-height: 20px;
    max-height: 20px;
    height: 20px;
    max-width: 200px;
    padding: 0;
    border-radius: $border-radius;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  &.record-card {
    max-height: 114px;
  }

  &.stat {
    max-height: 140px;
  }

  @extend %loading-skeleton-background;
}
