@import "../../../../scss/global";

.SearchBar {
  margin-bottom: toRem(50);

  &__input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: toRem(15) toRem(20);
    border-radius: toRem(6);
    background: $color-light;
  }

  &__icon {
    height: toRem(25);
    width: toRem(25);
    background: url("https://images.bulletcrossfit.com/icon/search.svg");
    margin-right: toRem(15);
    @extend %icon;
  }

  &__input {
    font-size: toRem(20);
    background: none;
    border: none;
    outline: none;
  }
}
