@import "../../scss/global";
@import "../../scss/mixin";

.Header {
  background-color: $color-background;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65px;
    background-color: $color-background;
    padding: 8px 20px;

    @include mq(lg) {
      padding: 8px 40px;
    }
  }

  &__toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: $color-background;
  }

  &__toggler-icon {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    background: url("../../assets/icon/hamburger.svg");
  }

  &__nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: toRem(30);
  }

  .current-location {
    display: none;

    @include mq(xs) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      width: 22px;
      height: 22px;
      background: url("../../assets/icon/location.svg");
      @extend %icon;
    }

    &__text {
      margin-left: 5px;
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: toRem(40);
      height: toRem(40);
      border-radius: 50%;
      font-weight: 600;
      background: $color-secondary;
    }
  }

  &__dropdown {
    position: relative;

    .dropdown__toggle {
      background: none;
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: toRem(16);

      &-icon {
        height: 18px;
        width: 18px;
        background: url("../../assets/icon/dropdown-inactive.svg");
        @extend %icon;
      }
    }

    .dropdown__toggle:focus {
      outline: none;
      box-shadow: none !important;
    }

    .dropdown__toggle:focus-visible {
      box-shadow: $focus-box-shadow !important;
    }

    .dropdown__content.show {
      display: flex;
    }

    .dropdown__content {
      display: none;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      position: absolute;
      background: $color-light;
      padding: 10px 20px 10px 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      top: 25px;
      right: 0;
    }

    .dropdown__item {
      color: $color-dark;
    }
  }
}
