@import "../../scss/global";

.Datepicker {
  background: $color-light;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: toRem(50);
  border-radius: 10px;

  &__icon {
    width: 25px;
    height: 25px;
    background: url("https://images.bulletcrossfit.com/icon/calendar.svg");
    @extend %icon;
  }

  &__input {
    width: 100%;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: toRem(16);
    font-family: $font-primary;
  }
}
