.Banner {
  margin-top: toRem(100);
  padding: toRem(24);
  background: var(--bg-body);
  transition: $theme-transition;

  @include mq(md) {
    padding: toRem(24) toRem(100);
  }

  &__title {
    color: var(--color-text);
    font-size: toRem(26);
    margin-bottom: toRem(10);
    
  }

  &__description {
    font-weight: 400;
    margin-bottom: toRem(30);
    font-size: toRem(16);
    color: var(--color-text);
    opacity: 0.8;
  }
}

.HomeBanner {
  @extend .Banner;
  margin-bottom: toRem(50);

  &__title {
    @extend .Banner__title;
  }

  &__description {
    @extend .Banner__description;
  }

  &__stats {
    margin-top: toRem(30);
    margin-bottom: toRem(-90);

    @include mq(sm) {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: toRem(20);
    }

    @include mq(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
