.ContentContainer {
  margin-top: 80px;
  padding: toRem(20) 0;
  padding-bottom: toRem(20);

  &.padding {
    padding: toRem(20) toRem(24);
  }

  @include mq(md) {
    padding: toRem(15) 0;
    padding-bottom: toRem(20);

    &.padding {
      padding: toRem(15) toRem(100);
    }
  }
}
