.Dashboard {
  display: grid;
  grid-template-columns: 100%;
  min-height: 100vh;
  background: var(--bg-body);
  transition: $theme-transition;

  @include mq(xl) {
    grid-template-columns: 18% 82%;

    &.fullscreen {
      grid-template-columns: 100%;

      .ContentContainer {
        margin: 0 auto;
      }
    }
  }
}
