@import "../../scss/global";

.ToolsCard {
  height: toRem(200);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-shadow: $hover-box-shadow;
  z-index: 1;
  position: relative;
  gap: toRem(15);
  cursor: pointer;
  transition: ease 0.2s;

  &__title {
    color: $color-light;
    font-weight: bold;
    margin-bottom: 0;
    font-size: toRem(32);
  }

  &::after {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: -1;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  }
}

// BACKGROUNDS
.ToolsCard.programming {
  background-image: url("../../assets/img/programming_bg.jpg");
}
.ToolsCard.video {
  background-image: url("../../assets/img/video-tutorials_bg.jpg");
}
