.AddWodForm {
  &__input-grid {
    grid-template-columns: 100%;
    @include mq(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }

  &__label {
    color: $color-brand;
    font-size: toRem(16);
    margin-bottom: 20px;
  }

  .Input {
    width: 100%;
    max-width: 1280px;
  }
}
