.AddWodForm {
  display: grid;
  gap: toRem(20);
  margin-bottom: toRem(50);

  @include mq(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__input-grid {
    grid-template-columns: 100%;
    @include mq(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
  }

  &__label {
    color: $color-brand;
    font-size: toRem(16);
    margin-bottom: 20px;
  }

  
}
