.AddRegisterWidget {
  width: 100%;
  max-width: $max-width-card;
  padding: toRem(15);
  margin-bottom: $widget-margin-bottom;
  margin-right: $widget-margin-right;
  background: $bg-gradient-green;
  border-radius: $border-radius;

  @include mq(md) {
    max-width: $max-width-card-md;
  }

  &__title {
    color: $color-white;
    margin-bottom: 5px;
    font-size: toRem(22);
    font-weight: 600;
  }

  &__date {
    display: flex;
    align-items: center;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;

    img {
      height: toRem(18);
      width: toRem(18);
      margin-right: 10px;
    }
  }

  &__description {
    color: $color-white;
    font-size: toRem(20);
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(10);

    &__input-score {
      display: flex;
      align-items: center;
      padding: 15px 20px;
      border-radius: $border-radius;
      background: $color-white;
      height: $height-input;
    }

    &__input-container {
      width: 90%;
      display: flex;
      border-radius: $border-radius;
    }

    &__input {
      background: transparent;
      outline: none;
      border: none;
      width: 90%;
      color: $bg-component-dark;
      font-size: toRem(20);
      font-weight: 600;
      padding-right: 10px;
    }

    &__input-units {
      text-transform: uppercase;
      color: $color-brand;
      font-weight: 600;
    }

    &__input:hover {
      border-radius: $border-radius !important;
    }

    &__input::placeholder {
      font-size: toRem(20);
      color: $color-text-alternative-light;
    }
  }

  &__error {
    text-align: center;
    background: $color-error;
    padding: toRem(10);
    margin-top: toRem(20);
    border-radius: toRem(6);
    color: $color-white;
    font-weight: 600;
  }
}
