.AddRecordFormContainer.show {
  transform: translateY(0);

  .AddRecordFormContainer__content {
    transform: translateY(0);
  }
}

.AddRecordFormContainer {
  // transition: 0.4s ease-out;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 99999;
  transform: translateY(110vh);

  &__content {
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
    transform: translateY(110vh);
    background: var(--bg-component);
    transition: 0.4s ease;
  }

  &__closebtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px;

    button {
      background: none;
      outline: none;
      border: none;
    }
  }
}
