.BulletGoalWidget {
  width: 100%;
  max-width: $max-width-card;
  max-height: 240px;
  padding: toRem(15);
  margin-bottom: $widget-margin-bottom;
  margin-right: $widget-margin-right;
  background: $bg-gradient-green;
  border-radius: $border-radius;

  @include mq(md) {
    max-width: $max-width-card-md;
  }

  &__title {
    color: $color-white;
    margin-bottom: 5px;
    font-size: toRem(22);
    font-weight: 600;
  }

  &__date {
    display: flex;
    align-items: center;
    color: $color-white;
    margin-bottom: 10px;
    text-transform: uppercase;

    img {
      height: toRem(18);
      width: toRem(18);
      margin-right: 10px;
    }
  }

  &__description {
    color: $color-white;
    font-size: toRem(20);
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__form {
    width: 100%;
    display: flex;
    gap: toRem(10);

    &__input-container {
      width: 50%;
      display: flex;
      background: $color-white;
      border-radius: $border-radius;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-text-alternative;
      font-size: toRem(30);
      font-weight: bold;
    }

    &__input {
      width: 50%;

      font-size: toRem(20);
      font-family: $font-primary;
      font-weight: 600;
      border-radius: $border-radius;
      outline: none;
      border: none;
      color: $color-text-alternative;
      text-align: center;

      @include mq("md") {
        padding-left: toRem(10);
      }
    }

    &__input:hover {
      border-radius: $border-radius !important;
    }

    &__input::placeholder {
      font-size: toRem(20);
      color: $color-text-alternative-light;
    }
  }

  &__error {
    text-align: center;
    background: $color-error;
    padding: toRem(10);
    margin-top: toRem(20);
    border-radius: toRem(6);
    color: $color-white;
    font-weight: 600;
  }
}