.PRCard {
  width: 100%;
  padding: 15px;

  &__description {
    font-size: toRem(18);
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: toRem(10);
  }

  &__title {
    margin-bottom: 8px;
    font-size: toRem(18);
    color: var(--color-text);
  }

  &__title,
  &__value {
    font-weight: bold;
    line-height: 1;
  }
  
  &__value {
    color: $color-brand;
    font-size: toRem(22);
    display: block;
    font-size: toRem(26);
    margin-bottom: 10px;
  }

  .DateWidget {
    text-transform: uppercase;
  }
}
