.SkillCard {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    margin-bottom: 5px;

    font-size: toRem(22);
    font-weight: bold;
    color: $color-brand;
    line-height: 1;
  }

  .DateWidget {
    text-transform: uppercase;
  }

  &__icon {
    display: none;
    width: 30px;
    height: 30px;
  }
}
