// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

// VARIABLES
$color-primary: #4e4e4e;
$color-secondary: #a7d41f;
$color-secondary-hover: #4e4e4e;
$color-dark: #000;
$color-light: #fff;
$color-background: #f5f5f5;
$color-background-linear: linear-gradient(#f5f5f5, #dedede);
$color-alternative: #a7a7a7;
$color-alternative-2: #767676;
$color-skeleton-primary: #ddd;
$color-skeleton-secondary: #eee;
$color-error: #de2316;
$linear-gradient-1: linear-gradient(to left, #0f0f0f, #333333);
$linear-gradient-2: linear-gradient(to left, #4e4e4e, #333333);
$linear-gradient-header: linear-gradient(to left, #86aa19, #93bb1c);
$font-primary: "DM Sans", sans-serif;
$font-secondary: "Roboto", sans-serif;
$max-width: 1280px;
$focus-box-shadow: 0 0 0 4px rgba(132, 217, 217, 0.5);
$hover-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// FUNCTIONS

// PX to REM
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

// TEMPLATES
%button {
  display: flex;
  max-height: toRem(50);
  justify-content: center;
  align-items: center;
  padding: 0.8em 3em;
  font-weight: 500;
  font-family: $font-primary;
  border: none;
  outline: none;
  font-size: toRem(16);
  border-radius: toRem(6);
  color: $color-dark;
  background-color: $color-secondary;
}

%button:hover {
  background-color: #93bb1c;
  // box-shadow: $hover-box-shadow;
}

%icon {
  display: inline-block;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

%loading-skeleton {
  background: linear-gradient(0.25turn, transparent, $color-light, transparent),
    linear-gradient($color-skeleton-secondary, $color-skeleton-secondary),
    radial-gradient(
      38px circle at 19px 19px,
      $color-skeleton-secondary 50%,
      transparent 51%
    ),
    linear-gradient($color-skeleton-secondary, $color-skeleton-secondary);
  background-repeat: no-repeat;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}
