@import "../../scss/global";

.NotFound {
  &,
  .ContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: toRem(36);
    text-align: center;
    margin-bottom: toRem(10);
  }

  &__description {
    font-size: toRem(17);
    text-align: center;
    margin-bottom: toRem(20);
  }

  &__return-btn {
    @extend %button;
    max-width: 300px;
  }
}
