.AddButton {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: $height-input;
  max-height: 85px;
  margin-right: $widget-margin-right;
  max-width: $max-width-card;
  background: var(--bg-component);
  border-radius: $border-radius;

  @include mq("md") {
    &,
    &.max-width {
      max-width: $max-width-card-md;
    }
  }

  &__img {
    height: 100%;
    width: 30%;
    max-width: 85px;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &__title {
    color: var(--color-text);
    margin-left: 15px;
    padding: 10px 0;
    text-align: left;
  }
}
