.BackButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  gap: toRem(10);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--color-text);
  font-size: toRem(15);
  font-weight: 500;
  text-transform: uppercase;

  &.mb,
  &.mt {
    margin-bottom: toRem(20);
  }

  &:hover {
    color: $color-brand;
  }
}
