.BackButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  gap: toRem(10);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  &.mb,
  &.mt {
    margin-bottom: toRem(20);
  }
}
