.Banner {
  background: var(--bg-body);
  transition: $theme-transition;
  width: 100%;

  &__title {
    color: var(--color-text);
    font-size: toRem(26);
    margin-bottom: toRem(10);
  }

  &__description {
    font-weight: 400;
    margin-bottom: toRem(30);
    font-size: toRem(16);
    color: var(--color-text);
    opacity: 0.8;
  }
}

.HomeBanner {
  @extend .Banner;
  margin-bottom: $widget-margin-bottom;

  &__title {
    @extend .Banner__title;
  }

  &__description {
    @extend .Banner__description;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 10px;
    p {
      color: var(--color-text);
    }
    img {
      height: 20px;
    }
  }
}
