.CardContainer {
  width: 100%;
  max-width: $max-width-card;
  max-height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: toRem(15);
  margin-right: $widget-margin-right;
  margin-bottom: $widget-margin-bottom;
  border-radius: $border-radius;
  background: var(--bg-linear-gradient);
  box-shadow: var(--box-shadow);
  transition: ease 0.5s;
  transform: translateY(0px);
  outline: none;
  border: none;
  cursor: pointer;

  &.fit-height {
    height: 100%;
    max-height: fit-content;
  }

  @include mq(md) {
    max-width: $max-width-card-md;
  }

  &:hover {
    transform: translateY(-5px);
    transition: ease 0.5s;
  }
}

// LOADING SKELETON
.StatCard--loading {
  .StatCard__info {
    width: 100%;
  }

  .StatCard__title,
  .StatCard__number {
    height: 15px;
    @extend %loading-skeleton;
  }

  .StatCard__title {
    width: 80%;
    margin-bottom: 20px;
  }

  .StatCard__number {
    width: 30%;
  }
}
