.InfoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $max-width-card;
  margin-right: $widget-margin-right;
  border-radius: $border-radius;
  padding: 15px;
  transform: translateY(0px);
  transition: ease 0.5s;

  @include mq(md) {
    max-width: $max-width-card-md;
  }

  &.button {
    cursor: pointer;
  }

  &__info {
    margin-left: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__img-container {
    width: 30%;
    max-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    min-width: 60px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &-placeholder {
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--bg-input);
      color: $color-brand;
      border-radius: 50%;
      font-weight: 600;
      font-size: toRem(20);
      text-transform: uppercase;
    }
  }

  &__icon {
    width: 30px;
    margin: 0 10px;
  }

  &__title {
    font-size: toRem(18);
    color: var(--color-text);
  }

  &__additional-info {
    font-size: toRem(14);
    font-weight: 400;
    color: var(--color-text);
    opacity: 0.8;
  }

  &__additional-component {
    color: var(--color-text);
    opacity: 0.9;
  }
}
