.InputContainer:focus-within {
  border: 1px solid $color-brand;
}

.InputContainer {
  width: 100%;
  height: 50px;
  max-height: 50px;
  position: relative;
  margin-bottom: toRem(20);
  padding: 0 10px;
  background: var(--bg-input);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);

  &.error {
    border-bottom-color: $color-error;
  }

  &__label {
    position: absolute;
    transition: ease-in 0.3s;
    bottom: 12px;
    font-size: toRem(16);
    font-family: $font-secondary;
    color: var(--color-text);
  }
  &__label.focus {
    font-size: toRem(12);
    transition: ease-in 0.2s;
    transform: translateY(-28px);
    background: var(--bg-input);
    border-radius: 5px;
    color: $color-brand;
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: toRem(17);
    font-family: $font-secondary;
    font-weight: 500;
    background: transparent;
    color: var(--color-text);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--color-text) !important;
  }
}
