.SearchBar {
  margin-bottom: toRem(50);

  &__input-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: toRem(15) toRem(20);
    border-radius: $border-radius;
    background: var(--bg-component);
    box-shadow: var(--box-shadow);
  }

  &__icon {
    height: toRem(25);
    width: toRem(25);
    margin-right: toRem(15);
  }

  &__input {
    width: 100%;
    color: var(--color-text);
    font-size: toRem(20);
    background: none;
    border: none;
    outline: none;
  }
}
