.SearchBar {
  margin-bottom: $widget-margin-bottom;
  height: 50px;

  &__input-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: toRem(15) toRem(20);
    border-radius: $border-radius;
    background: var(--bg-loading-secondary);
    box-shadow: var(--box-shadow);
  }

  &__icon {
    height: toRem(20);
    width: toRem(20);
    margin-right: toRem(15);
  }

  &__input {
    width: 100%;
    color: var(--color-text);
    font-size: toRem(17);
    background: none;
    border: none;
    outline: none;
  }

  &__input::placeholder {
    color: var(--color-text);
    opacity: 0.7;
    font-size: toRem(17);
  }
}
