.Select {
  margin-bottom: 20px;

  &__container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: $height-input;
    border-radius: $border-radius;
    background: var(--bg-input);
    border: 1px solid var(--bg-input);
    color: var(--color-text);

    &.error {
      border: 2px solid $color-error;
    }

    // @include mq(md) {
    //   max-width: 280px;
    // }
  }

  &__select {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: var(--color-text);
    font-size: toRem(14);
    padding-right: 10px;
    cursor: pointer;
  }

  &__option {
    color: $color-dark;
  }

  &__label {
    color: $color-brand;
    font-size: toRem(14);
    text-align: center;
    margin-bottom: 10px;
  }
}
